.Rproj.user
.Rhistory
.RData
.Ruserdata
google_times0.csv
google_times1.csv
google_times10.csv
google_times11.csv
google_times12.csv
google_times13.csv
google_times14.csv
google_times15.csv
google_times16.csv
google_times17.csv
google_times18.csv
google_times19.csv
google_times2.csv
google_times20.csv
google_times21.csv
google_times22.csv
google_times23.csv
google_times24.csv
google_times25.csv
google_times26.csv
google_times27.csv
google_times28.csv
google_times29.csv
google_times3.csv
google_times30.csv
google_times31.csv
google_times32.csv
google_times33.csv
google_times34.csv
google_times35.csv
google_times36.csv
google_times37.csv
google_times38.csv
google_times39.csv
google_times4.csv
google_times40.csv
google_times41.csv
google_times42.csv
google_times43.csv
google_times44.csv
google_times45.csv
google_times46.csv
google_times47.csv
google_times48.csv
google_times49.csv
google_times5.csv
google_times50.csv
google_times51.csv
google_times52.csv
google_times53.csv
google_times54.csv
google_times55.csv
google_times56.csv
google_times57.csv
google_times58.csv
google_times59.csv
google_times6.csv
google_times60.csv
google_times61.csv
google_times7.csv
google_times8.csv
google_times9.csv
googletimes.csv
beinironi.csv
